---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "KC",
  country: "Israel",
  occupation: "uneployed",
  hobbies: ["watching vtubers", "video games", "reading"],
};

const skills = ["HTML", "CSS", "JavaScript?...", "Astro", "eat hot chip", "cry"];

const happy = true;
const finished = true;
const goal = 14;

const skillColor = "#993366";
const textCase = "uppercase";
const fontWeight = "bold";
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>


    <style define:vars={{ skillColor, fontWeight, textCase }}>
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>


  <body>
    
    <BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro site!</h2>
    
    <a href="https://color.adobe.com/create/color-wheel">link color test</a>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p>Here are a few facts about me!</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I'm{identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            One of my hobbies is: {identity.hobbies[0]} 
          </li>
        )
      }
    </ul>
    <p>My skills are</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

  <p class="surprise" >You can do this, and you're here for a reason.</p>
  </BaseLayout>
  </body>
  
</html>

<!-- the element of surprise -->
<style>
.surprise {
  color:#fcfaeb
}

.dark .surprise {
  color:#333333
}
</style>