---
import "../styles/global.css";
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

//STRUGGLE ZONE
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const prevPost = allPosts[frontmatter.index - 1];
const nextPost = allPosts[frontmatter.index + 1];

---
<BaseLayout pageTitle={frontmatter.title}>

  <p><img src={frontmatter.image.url} width="200" alt={frontmatter.image.alt} /></p>
  <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
  <p>{frontmatter.description}</p>
  <p>Written by <a href="/about/">{frontmatter.author}</a></p>
  <div class="tags">
      {frontmatter.tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
  </div>
  <hr></hr>
  <slot />

   <!-- STRUGGLE ZONE -->
   <div class="pagination">
    { 
    (typeof prevPost !== "undefined") && (
    // <button id="prev"><a href={`/posts/${prevPost.slug}/`}>Previous</a></button>)
    <a href={`/posts/${prevPost.slug}/`}>Previous</a>)
    }
    
    { 
    (typeof nextPost !== "undefined") && (
          // <button id="next"><a href={`/posts/${nextPost.slug}/`}>Next</a></button>)
          <a href={`/posts/${nextPost.slug}/`}>Next</a>)
    }
</div>
</BaseLayout>


<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    /* font-size: 1.15em; */
    background-color: #F8FCFD;
  }

  .pagination a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #993366;
      text-decoration: none;
      text-align: center;
      align-content: center;
    }
</style>